---
import type { ImageMetadata } from "astro"
import EducationGrid from "~/features/education/components/EducationGrid"
import { getPageData } from "~/utils/getBlogPage"

const images = import.meta.glob<{ default: ImageMetadata }>("~/assets/education/*.webp", {
	eager: true,
})

const allEducation = await getPageData(Astro.url, "education")
---

<section id="education" class="py-24 px-6 max-w-6xl mx-auto">
  <h2 class="text-3xl md:text-4xl font-bold text-center mb-12">
    {allEducation.title}
  </h2>

  <EducationGrid diplomas={allEducation.diplomas} images={images} client:load />
</section>
