@import "tailwindcss";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";
@import "@fontsource/poppins/800.css";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
	--font-family-poppins: "Poppins", sans-serif;
}

/* ---------- VIEW TRANSITIONS ---------- */
::view-transition-group(root) {
	animation-duration: 0.7s;
	animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
	animation-name: reveal-light;
	animation-fill-mode: both;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
	animation: none;
	animation-fill-mode: both;
	z-index: -1;
}
.dark::view-transition-new(root) {
	animation-name: reveal-dark;
	animation-fill-mode: both;
}

@keyframes reveal-dark {
	from {
		clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
	}
	to {
		clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
	}
}

@keyframes reveal-light {
	from {
		clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
	}
	to {
		clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
	}
}
