---
import { IconBrandGithub, IconBrandLinkedin, IconMail, IconPhone } from "@tabler/icons-react"
import { getPageData } from "~/utils/getBlogPage"

const data = await getPageData(Astro.url, "footer")

const iconsMap = {
	Github: IconBrandGithub,
	Linkedin: IconBrandLinkedin,
	Mail: IconMail,
	Phone: IconPhone,
}
---

<footer
  class="w-full border-t border-black/10 bg-white/80 px-4 py-6 text-gray-700 backdrop-blur-md dark:border-white/10 dark:bg-neutral-950/60 dark:text-gray-300 sm:px-6 sm:py-8 lg:px-8"
>
  <div
    class="mx-auto flex max-w-7xl flex-col items-center justify-between gap-4 sm:flex-row sm:gap-6"
  >
    <span class="text-center text-xs sm:text-left sm:text-sm md:text-base">
      © {new Date().getFullYear()}

      <a href="#" class="font-medium text-gray-900 hover:underline dark:text-white">
        {data.name}
      </a>

      {data.rights}
    </span>

    <ul class="flex items-center gap-4 sm:gap-5">
      {
        data.links.map(item => {
          const Icon = iconsMap[item.icon as keyof typeof iconsMap]

          if (!Icon) {
            console.error('Icono no encontrado:', item.icon)
            return null
          }

          return (
            <li>
              <a
                href={item.href}
                aria-label={item.name}
                target="_blank"
                rel="noopener noreferrer"
                class="flex h-10 w-10 items-center justify-center rounded-full text-gray-700 transition-all duration-300 hover:bg-gray-200 hover:text-black dark:text-gray-300 dark:hover:bg-white/10 dark:hover:text-white"
              >
                <Icon size={20} stroke={1.8} />
              </a>
            </li>
          )
        })
      }
    </ul>
  </div>
</footer>
